* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bebeec;
    
}

.container {
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    align-items: flex-start;
    
}

.container > h1 {
    width: 100%;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
}

.card {
    width: 25%;
    display: inline-block;
    box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.75);
    background-color: lightgray;
    transition: all 0.8s ease-in-out;
    max-height: 100px;
    overflow: hidden;

}
.active {
    background-color: yellow;
    max-height: 1000px;
    cursor: pointer;
    box-shadow: -1px 6px 29px 5px rgba(0,0,0,0.75);
}

.title {
    background-color: #01698b;
}

.title h1 {
    color: #fff;
    font-weight: bold;
}

.body {
    /* background-color: lightgray; */
    padding: 12px;
}

